.App {
  text-align: center;
  border: 5px black solid;
      margin-right: 250px;
      margin-left: 250px;
      background-color: darkseagreen
}
.ProfilePhoto {
  border: solid 3px rgb(218, 128, 18);
  
}

